*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  vertical-align: bottom;
}
html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  padding: 0;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.singer-list ol li{
  line-height: 60px;
  width: 100%;
  padding-bottom: 5px;
}
.singer-list{
  background: #eaffea;
}
.swipe{
  position: fixed;
  top: 45px;
  width: 100%;
  height: 1000px;
  background: #eaffea;
  overflow: hidden;
}
.singer-list .indexname{
  height: 30px;
  line-height: 30px;
}
.singer-list ol,.singer_name{
  padding-left: 10px;
  margin-top: 0px;
}
.singer-list span{
  padding-left: 10px;
}
.singer-list li img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.singer-top{
  width: 100%;
  position: fixed;
  top: 0;
}
header{
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  height: 70px;

}
.top{
  display: block;
  width: 100%;
  position: fixed;
  top: 0px;
  height: 70px;
  padding: 0 30px;

  z-index: 999;
}
.box{
  margin:5px 5px 0 10px;
  text-align: center;
  line-height:16px;
  font-size: 16px;
}
.section{
  width: 100%;
  height: 10%;
  overflow: hidden;
}
.section-one{
  position: absolute;
  top: 70px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  font-size: 16px;
}
.one{
  -webkit-box-flex: 1;
  text-decoration: none;
  padding:10px 30px;
  border-bottom:1px solid ;
}
.two{
  -webkit-box-flex: 1;
  text-decoration: none;
  padding:0 60px;
}
.swiper .section-two{
  position: relative;
  height: 175px;
}
.section-two img{
  overflow: hidden;
}
.section-three{
  width: 100%;
  height: 50%;
  padding: 5%;
  color: #333333;
  font-family: "楷体";
}
.section-three .three{
  padding: 3px;
}
.section-three .three .sin{
  padding: 5px;
}
.swiper-container{
  width: 100%;
  position: static;
  margin-top: 70px;
}
.swiper-container img{
  width: 100%;
  background: #404040;
  height: 175px;
}
.section-four{
  position: relative;
  top: 40px;
  height: 100%;

}


/*  background: white;*/
/*  z-index: 2;*/
/*}*/
.leftnav{
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  font-size: 12px;
  padding-left: 0;
  text-align: center;
  background: #ffffff;
}
.leftnav li{
  padding-bottom: 4px;
  font-weight: 600;
}
.sel{
  color: #31c27c;
}
.context{
  margin-bottom: 50px;
}
<<<<<<< HEAD
=======

>>>>>>> 8f3f7f0c515f5b7bcc45360d28e25a30e73b8224
.song{
  width:100%;
}
.song .header{
  width: 100%;
  position: absolute;
  z-index: 1;
  color: white;
}
/*.song .iconfont{*/
  /*font-size: 25px;*/
/*}*/
.song .header h4{
  font-size: 28px;
  width: 100%;
  text-align: center;
  margin-top: -14px;
}
.song .list-wrapper{
  height: 500px;
  position:fixed;
  top:350px;
  bottom: 0px;
  width: 100%;

}
.song .list-wrapper ul{
  padding-left: 25px;
}
.song .list-wrapper ul li{
  height: 60px;
  padding-top: 10px;
  position: relative;
}
.song .list-wrapper ul li:nth-child(1){
  height: 30px;
  font-size: 16px;
  padding-left: 100px;
}
.song .list-wrapper ul li h1,p{
  margin: 0px;
  width:280px;
  display: inline-block;
  white-space: nowrap;

  overflow: hidden;
  text-overflow:ellipsis;
}
.song .list-wrapper ul li h1{
  font-size: 15px;
  font-weight: 500;
}
.song .list-wrapper ul li span{
  font-size:12px ;
  color:grey;
}
.song{
  position: fixed;
  top: 0px;
  bottom:0px;
}
.song .shadow{
  position: absolute;
  top: 300px;
  width: 100%;
  background: #eaffea;
  height: 900px;
}
.song .header{
  z-index: 2;
}
.song .list-wrapper{
  position: fixed;
  top: 300px;
  bottom: 0;
}
#iconfont{
  width: 20px;
  top: 19px;
  right:30px;
  position: absolute;


}
.song .img{
  position: relative;
  transform-origin:top;
  background-size:cover;

  height: 300px;
  width: 100%;
}



