footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: white;
}
footer .nav{
   font-size: 20px;
}
footer span:nth-child(1){
    position: absolute;
    left: 8%;
    display: block;
}
footer span:nth-child(2){
    position: absolute;
    left: 48%;
    display: block;
}
footer span:nth-child(3){
    position: absolute;
    right: 10%;
    display: block;
}
footer .nav i{
    text-align: center;
    display:block;
    font-size: 20px;
}
.my {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 70px;
}
.my .login{
    display: block;
    margin: 0 auto;
    background: greenyellow;
    width: 20%;
    text-align: center;
    border-radius: 8px;
}

.my img{
    width: 200px;
}
.my ul li{
    margin-right: 2px;
}
.my a{
    display: block;
    font-size: 14px;
    color:#333333;
}
.my ul{
    display:flex ;
    width: 100%;
    overflow: auto;

}
.my span a{
    display: inline;
}
.my span i{
   float: right;
}
.my .post {
     position: fixed;
     background: white;
     width: 100%;
     height: 100%;
 }
.my .post p{
    text-align: center;

}
.my .post p span{

    margin: 0 32%;
}
.my .post a {
    color: #000;
    display: inline;

}
.my .post input {
    border: none;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #eaeaea;
}
.myList a {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    color: #000;
}
.collections{

}