footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: white;
}
footer .nav{
   font-size: 20px;
}
footer span:nth-child(1){
    position: absolute;
    left: 8%;
    display: block;
}
footer span:nth-child(2){
    position: absolute;
    left: 48%;
    display: block;
}
footer span:nth-child(3){
    position: absolute;
    right: 10%;
    display: block;
}
footer .nav i{
    text-align: center;
    display:block;
    font-size: 20px;
}
.my {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 95px;
}
.my .login{
    display: block;
    margin: 0 auto;
    background: greenyellow;
    width: 20%;
    text-align: center;
    border-radius: 8px;
}

.my img{
    width: 200px;
}
.my ul li{
    margin-right: 2px;
}
.my a{
    display: block;
    font-size: 14px;
    color:#333333;
}
.my ul{
    display:flex ;
    width: 100%;
    overflow: auto;

}
.my span a{
    display: inline;
}
.my span i{
   float: right;
}
.my .post {
     position: fixed;
     background: white;
     width: 100%;
     height: 100%;
 }
.my .post p{
    text-align: center;

}
.my .post p span{

    margin: 0 32%;
}
.my .post a {
    color: #000;
    display: inline;

}
.my .post input {
    border: none;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #eaeaea;
}

.myList{
    text-align: center;
}
.myList a {
    width: 50%;
    color: #000;
    float: left;
}
.collections{
    width: 100%;
}
.collections .collection_a{
   width: 48%;
    float: left;
    margin-left: 5px;
}
.my .localUser{
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 5px;
    height: 40px;
}
.my .localUser>span{
    line-height: 30px;
    font-size: 24px;
}
.my .my_link{
    margin:5px;
}
.my .my_link .collection_my{
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.recommendList{
    width: 100%;
}
.recommendList>h3{
    width: 100%;
}