#rankingList{
    width: 100%;
    background: #eef;
}

#rankingList h3{
    width: 100%;
    text-align: center;
}
#rankingList .rankingList_list{
    width: 92%;
    height: auto;
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px;
    margin-left: 4%;
}
#rankingList .rankingList_list img{
    float:left;
    width: 23%;
}
#rankingList .rankingList_list .rankingList_intro{
    float:right;
    width: 77%;
}
#rankingList .rankingList_list .rankingList_intro .topTitle{
    font-size:14px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    padding-left: 5px;
}
#rankingList .rankingList_list .rankingList_intro .songList{
    font-size:6px;
    height: 12px;
    line-height: 12px;
    padding-left: 5px;
    color:#222;
    margin:2px;
    white-space: nowrap;
    overflow: hidden;
}


/*排行榜详情*/
#rankingListDetail{
    width: 100%;
    background: #eef;
}
#rankingListDetail .rankingListDetailHead{
    width: 100%;
}
#rankingListDetail .rankingListDetailHead>#rankingListDetailImg{
    width: 50%;
    margin: 10px auto;
    margin-left: 25%;
}
#rankingListDetail .rankingListDetailHead>p{
    font-weight: bold;
    width: 100%;
    text-align: center;
}
#rankingListDetail .rankingListDetailList{
    width: 100%;
}
#rankingListDetail .rankingListDetailList .songList-list{
    margin:5px;
}
#rankingListDetail .rankingListDetailList .songList-list .songname{
    font-size: 16px;
    color: #000;
}
#rankingListDetail .rankingListDetailList .songList-list .songname span{
    padding: 20px;
}


#rankingListDetail .rankingListDetailList .songList-list .singerall{
    padding-left: 10px;
}
#rankingListDetail .rankingListDetailList .songList-list .singerall b{
    padding-right: 5px;
    font-weight: normal;
    color:#333;
}
#rankingListDetail .rankingListDetailList .songList-list .singerall .singer{
    margin: 3px;
    font-size: 12px;
    color:#555;

}
#rankingListDetail .rankingListDetailList .songList-list:nth-child(1) .singerall b,
#rankingListDetail .rankingListDetailList .songList-list:nth-child(2) .singerall b,
#rankingListDetail .rankingListDetailList .songList-list:nth-child(3) .singerall b{
    color:#f00;
}
.songList-list i{
    float: right;
    font-size: 25px;
}