.songSheetList{
    width: 100%;
    margin: 70px auto;
    padding: 0;
}
.songSheetList .songSheetList_l{
    width: 50%;
    margin:10px auto;
    float: left;
}
.songSheetList .songSheetList_l img {
    width: 94%;
    margin-left: 3%;
}
.songSheetList .songSheetList_l p{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #333;
}
.songSheetList .songSheetList_l p:hover{
    color:#41d3a4;
}
